{% load static %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="{% static 'css/ticketss.css' %}">-->
<!--    <title>Создать тикет</title>-->
<!--</head>-->
<!--<body>-->
<!--    <header>-->
<!--        <h1>Создать тикет</h1>-->
<!--    </header>-->

<!--    <main>-->
<!--        <form method="POST" class="ticket-form">-->
<!--            {% csrf_token %}-->
<!--            <div class="form-group">-->
<!--                <label for="title">Заголовок</label>-->
<!--                <input type="text" id="title" name="title" placeholder="Введите заголовок" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="category">Категория</label>-->
<!--                <select id="category" name="category">-->
<!--                    {% for category in categories %}-->
<!--                    <option value="{{ category.id }}">{{ category.name }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="description">Описание</label>-->
<!--                <textarea id="description" name="description" placeholder="Опишите проблему" rows="5" required></textarea>-->
<!--            </div>-->

<!--            <button type="submit" class="btn">Создать</button>-->
<!--        </form>-->
<!--    </main>-->
<!--</body>-->
<!--</html>-->

<h1>Создать тикет</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>