<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платформа Студенческих Наставников</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

<body class="bg-[#F0F4FF] text-[#333333]">
    <nav class="bg-[#154385] text-white fixed w-full top-0 shadow-md">
        <div class="container mx-auto flex justify-between items-center py-5 px-6">
            <div class="text-2xl font-bold">ИКТИБ ЮФУ</div>
            <div class="space-x-6">
                <a href="{% url 'login'  %}" class="hover:text-[#FFC107]">Вход</a>
                <a href="{% url 'reg'  %}" class="bg-[#FFC107] text-[#154385] px-4 py-2 rounded-lg hover:bg-[#e0a700]">Регистрация</a>
            </div>
        </div>
    </nav>

    <section class="mt-16 bg-[#154385] text-white text-center py-20">
        <div class="container mx-auto">
            <h1 class="text-4xl font-bold mb-4">Общайтесь с наставниками-студентами</h1>
            <p class="text-lg mb-8">Получайте полезную информацию о поступлении, обучении и жизни в университете.</p>
            <a  href="{% url 'reg'  %}" >
            <button  class="bg-[#FFC107] text-[#154385] px-6 py-3 rounded-lg hover:bg-[#e0a700] text-xl">Присоединиться</button>
            </a>
        </div>
    </section>

    <section class="py-3 mt-12 ">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
            <div>
                <i class="fas fa-comments fa-3x text-[#154385] mb-4"></i>                
                <h3 class="text-xl font-bold mb-2">Онлайн-диалоги и ответы</h3>
                <p>Участвуйте в живых беседах с наставниками.</p>
            </div>
            <div>
                <i class="fas fa-user-friends fa-3x text-[#154385] mb-4"></i>
                <h3 class="text-xl font-bold mb-2">Студенческое Сообщество</h3>
                <p>Окунитесь в атмосферу студенческой жизни.</p>
            </div>
            <div>
                <i class="fas fa-chart-line fa-3x text-[#154385] mb-4"></i>
                <h3 class="text-xl font-bold mb-2">Следите за своим прогрессом</h3>
                <p>Отслеживайте свои тикеты и получайте актуальные ответы.</p>
            </div>
        </div>
    </section>

    <!-- Футер -->
    <footer class="bg-[#154385] text-white py-8 mt-12">
        <div class="container mx-auto my-6 grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
            <div class="">
                <h4 class="text-lg font-bold mb-3">Быстрые ссылки</h4>
                <ul>
                    <li><a href="https://vk.com/@ictis_sfedu-otvety-na-chastye-voprosy-postupauschih" class="hover:text-[#FFC107]">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <div>
                <h4 class="text-lg font-bold mb-3">Следите за нами</h4>
                <div class="text-center space-x-4 fa-2x ">
                    <a href="https://vk.com/ictis_sfedu" class="hover:text-[#FFC107]"><i class="fab fa-vk"></i></a>
                    <a href="https://t.me/IktiBot" class="hover:text-[#FFC107]"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
            <div>
                <h4 class="text-lg font-bold mb-3">Свяжитесь с нами</h4>
                <p>Email: priem-tgn@sfedu.ru</p>
                <p>Телефон: +7 (863) 237-03-70</p>
            </div>
        </div>
    </footer>
</body>

</html>