{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300&display=swap" rel="stylesheet">
    <title>Вход</title>
</head>
<body>

    <div class="bg">
        <form method="POST" class="form-container">

            {% csrf_token %}
            <h1 class="form-title">Вход</h1>

                    {% if error %}
                        <div class="form-label bg-warning" style="margin: 10px 0px;">{{ error }}</div>
                    {% endif %}

            <!-- Поле Логин -->
            <div class="input-group">
                <label for="username" class="input-label">Логин</label>
                <input type="text" id="username" name="username" class="input-field" placeholder="Введите ваш логин" required>
                {% if form.username.errors %}
                    <div class="error-message">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Поле Пароль -->
            <div class="input-group">
                <label for="password1" class="input-label">Пароль</label>
                <input type="password" id="password1" name="password1" class="input-field" placeholder="Введите пароль" required>
                {% if form.password1.errors %}
                    <div class="error-message">
                        {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="submit-button">Войти</button>
        </form>
    </div>
</body>
</html>